.foodInfo section {
    margin-top: 5.5%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #000000;

    padding: 0% 2% 3.5% 2%;
}

.foodInfo section .food-img {
    width: 15%;
    min-width: 150px;
}

.food-details {
    max-width: 500px;
    margin-left: 3%;
    margin-right: 1%;
}

.foodInfo section .food-details p {
    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 25px;
    font-weight: regular;

    line-height: 27px;
    letter-spacing: 0px;
}

.foodInfo section .food-details h4 {
    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 50px;
    font-weight: semi-bold;

    line-height: 73px;
    letter-spacing: 0px;

    color: #000000;
}

.foodInfo section .food-details h5 {
    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 32px;
    font-weight: semi-bold;

    line-height: 73px;
    letter-spacing: 0px;

    color: #000000;
}

.foodInfo .food-button {
    background-color: #F9C202;

    width: 324px;
    height: 80px;

    box-shadow: 0px 10px 10px #00000069;
    border-style: none;
    border-radius: 51px;
    opacity: 1;

    cursor: pointer;
}

.foodInfo .food-button a {
    text-align: left;
    text-decoration: none;

    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 32px;
    font-weight: Medium;
    
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media (max-width: 800px) {
    .foodInfo section {
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      padding: 0% 0% 0% 0%;
      margin-right: 0%;
    }

    .foodInfo .food-button {
        margin-bottom: 5%;
    }
}