.foodInfo section {
    margin-top: 5.5%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid #000000;
}

.foodInfo section .food-img {
    width: 15%;
}

.foodInfo section .foodDetails {
    max-width: 70%;
}

.foodInfo .food-button {
    background-color: #F9C202;

    width: 324px;
    height: 80px;

    box-shadow: 0px 10px 10px #00000069;
    border-style: none;
    border-radius: 51px;
    opacity: 1;

    cursor: pointer;
}

.foodInfo section foodDetails p {
    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 25px;
    font-weight: regular;

    line-height: 37px;
    letter-spacing: 0px;
}

.foodInfo section foodDetails h4 {
    font-family: sans-serif;
    font-style: Montserrat;
    font-size: 60px;
    font-weight: semi-bold;

    line-height: 73px;
    letter-spacing: 0px;

    color: #000000;
}